.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content));
    gap: 48px 40px;
    padding-bottom: 80px;
  }



  @media screen and (max-width:320px) {
    .place{
      grid-template-columns: minmax(min-content, max-content);
      gap: 32px;

    }
    
  }