.place__title{
    grid-column-start: auto;
    justify-self: start;
    margin: 0;
    align-self:end;

    font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */


color: #FFFFFF;

}
@media screen and (max-width:768px) {
    .place__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        /* or 110% */
        
        
        color: #FFFFFF;
    }
    
  }

  @media screen and (max-width:320px) {
    .place__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 109% */
        
        
        color: #FFFFFF;
    }
    
  }