.footer__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
}

.footer__item:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

@media screen and (max-width:400px) {
    .footer__item {
        font-size: 24px;
        line-height: 24px;
    }
}